.search__search-bar {
  width: 100%;
  margin-top: 64px;
}

@media screen and (max-width: 1439px) {
  .search__search-bar {
    margin-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .search__search-bar {
    margin-top: 122px;
    position: relative;
  }
}