@import "./_blue/popup__text_blue.css";
@import "./_big/popup__text_big.css";

.popup__text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin-top: 16px;
  display: block;
  text-align: center;
}