.card__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 26px;
  color: #1A1B22;
  margin: 0;
  padding-top: 12px;
  line-height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media screen and (max-width: 1439px) {
  .card__title {
    font-size: 22px;
    line-height: 24px;
    -webkit-line-clamp: 2;
  }
}