.about__image {
  width: 464px;
  height: 464px;
  margin-right: 56px;
}

@media screen and (max-width: 1439px) {
  .about__image {
    width: 232px;
    height: 232px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .about__image {
    width: 272px;
    height: 272px;
    margin: 0 auto;
  }
}