@import url(./_active/popup__button_active.css);

.popup__button {
  width: 100%;
  height: 64px;
  border-radius: 100px;
  margin-top: 48px;
  color: rgba(0, 0, 0, .2);
  font-size: 36px;
  background-color: #E6E8EB;
  border: none;
}
