@import "./__title/results__title.css";
@import "./__button/results__button.css";
@import "./__waiting/results__waiting.css";

.results {
  background-color: #F5F6F7;
  padding: 80px 104px;
}

@media screen and (max-width: 1439px) {
  .results {
    padding: 40px;
  }
}