.grid__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 47%;
}

@media screen and (max-width: 1439px) {
  .grid__image {
    height: 36%;
  }
}

@media screen and (max-width: 767px) {
  .grid__image {
    height: 45%;
  }
}