.info__container {
  padding: 40px 0 56px 104px;
  width: 500px;
}

@media screen and (max-width: 1439px) {
  .info__container {
    padding: 24px 0 32px 40px;
    width: 378px;
  }
}

@media screen and (max-width: 767px) {
  .info__container {
    width: 100%;
    padding: 8px 16px 32px 16px;
    box-sizing: border-box;
  }
}