@import "./_loggedin/header__container_loggedin.css";
@import "_black/header__container_black.css";
@import "./_white/header__container_white.css";

.header__container {
  padding: 19px 104px 0 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1439px) {
  .header__container {
    padding: 14px 40px 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    height: 100%;
    box-sizing: border-box;
    padding: 16px;
  }
}