.circle-preloader {
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid #666;
  border-bottom-color: #888;
  border-left-color: #999;

  border-radius: 50%;

  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  margin: auto;

  animation: spin .75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}