@import "./_bold/info__keywords_bold.css";

.info__keywords {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1A1B22;
  margin: 30px 0 0;
}

@media screen and (max-width: 1439px) {
  .info__keywords {
    font-size: 14px;
    margin-top: 16px;
  }
}