.footer__link {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1A1B22;
  margin-left: 25px;
}

@media screen and (max-width: 1439px) {
  .footer__link {
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin: 0;
  }
  .footer__link:first-of-type {
    margin-bottom: 8px;
  }

  .footer__social .footer__link:last-of-type {
    margin-left: 24px;
  }
}

