.popup__content {
  width: 430px;
  min-height: 182px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 28px 36px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 767px) {
  .popup__content {
    width: 100%;
    height: calc(100% - 56px)
  }
}
