.grid {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-auto-rows: 75vh;
  margin: 0 auto;
  grid-gap: 16px;
}

@media screen and (max-width: 1439px) {
  .grid {
    grid-gap: 8px;
    grid-auto-rows: 56vh;
  }
}

@media screen and (max-width: 767px) {
  .grid {
    grid-template-columns: 100%;
    grid-gap: 10px;
    grid-auto-rows: 440px;
  }
}