.card__content {
  padding: 20px 24px 24px 24px;
  position: absolute;
  top: 45%;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 49%;
  justify-content: space-around;
}

@media screen and (max-width: 1439px) {
  .card__content {
    padding: 16px;
    top: 36%;
    height: 58%;
  }
}

@media screen and (max-width: 767px) {
  .card__content {
    top: 45%;
    height: auto;
    height: 55%;
    box-sizing: border-box;
  }
}