.about__container {
  display: flex;
  padding: 80px 0 80px 104px;
}

@media screen and (max-width: 1439px) {
  .about__container {
    padding: 40px;
  }
}

@media screen and (max-width: 767px) {
  .about__container {
    flex-direction: column;
  }
}