.about__text {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #1A1B22;
  margin-bottom: 0;
}

.about__text:first-of-type {
  margin-top: 24px;
}

@media screen and (max-width: 1439px) {
  .about__text:first-of-type {
    margin-top: 16px;
  }
}