@import "./__container/header__container.css";
@import "_black/header_black.css";
@import "./__burger/header__burger.css";
@import "./__dark-area/header__dark-area.css";

.header {
  border-bottom: rgba(255, 255, 255, 0.3) solid 1px;
  height: 80px;
  box-sizing: border-box;
  color: #FFFFFF;
}

@media screen and (max-width: 1439px) {
  .header {
    height: 66px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    background-size: cover;
    background-image: url("../../images/header/cover_bg_mobile.jpg");
    background-position-x: 10px;
  }
}
