.card__source {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: 0;
  padding-top: 10px;
}

@media screen and (max-width: 1439px) {
  .card__source {
    padding-top: 12px;
  }
}